@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 5, 5, 5;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 5, 5;
    --background-end-rgb: 5, 5, 5;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  height: 100vh;
}
::selection {
  background: #777777;
}

@font-face {
  src: url("../public/fonts/MADESAONARA.otf") format("opentype");
  font-family: "Made Saonara";
}
@font-face {
  src: url("../public/fonts/MADESAONARA2.otf") format("opentype");
  font-family: "Made Saonara Close";
}
@font-face {
  src: url("../public/fonts/FreightBigProBookR.ttf") format("truetype");
  font-family: "Freight Big Pro";
}

.main-font {
  font-family: "Freight Big Pro";
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.about span {
  display: inline-block;
  animation: marquee1 17s linear infinite;
}

.project span {
  display: inline-block;
  animation: marquee2 17s linear infinite;
}

@keyframes marquee1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
